<h2 class="game-title">Outer Wilds</h2>
<div class="game-info">
    <div><em class="cat">Developer:   </em>Mobius Digital<br></div>
    <div><em class="cat">Publisher:   </em>Annapurna Interactive<br></div>
    <div><em class="cat">Release Date:   </em>5.28.2019<br></div>
    <div><em class="cat">Genres:   </em>Expolration, Space, Mystery<br></div>
    <img class= "game-art" src="../../assets/outer-wilds-promo-art.jfif" 
        alt="art showing a campfire on a small planet with space surrounding it">
</div>