:host {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    border: 4px solid;
    border-style: groove;
    background-color: #29394b;
    padding: 10px;
    color: #bdc2c5;
    margin: 0 12px 12px 0;
}

h2.game-title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: auto;
    margin-left: 0px;
    width: fit-content;
    text-align: justify;
    color: azure;
}

div.game-info {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    color: azure;
    display: inline-block;
 }

div.grid-elem {
    display: flex;
    align-items: center;
}

img.game-art {
    max-width: 35em;
    max-height: fit-content;
    float:right;
}

em.cat {
    color: slategray;
}

a.wishlist {
    color: #9b5dd9;
}